<a href="https://colab.research.google.com/github/lainaker7/Desafio2-TelecomX/blob/main/TELECOM_X_ALURA_CHALLENGE_Public.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìå **1. E-xtracci√≥n de los Datos**: üìå

In [1]:
# Primer paso es Generar la Extracci√≥n de los datos

#üìå Enlace de la API:
#üîó challenge2-data-science-LATAM/TelecomX_Data.json at main ¬∑ ingridcristh/challenge2-data-science-LATAM

import pandas as pd

In [2]:
# Si el JSON es directamente un array de objetos
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
df = pd.read_json(url)

# Mostrar las primeras filas
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [3]:

import requests

# Obtener los datos directamente como diccionario
response = requests.get(url)
data = response.json()

# Normalizar el JSON completo
df_normalized = pd.json_normalize(data)

print("‚úÖ Datos normalizados exitosamente")
print(f"üìä Forma: {df_normalized.shape}")
print("\nüîç Columnas disponibles:")
for col in df_normalized.columns:
    print(f"  - {col}")

print("\nüìã Primeras 5 filas:")
display(df_normalized.head())

print("\nüìä Informaci√≥n del DataFrame:")
print(df_normalized.info())

‚úÖ Datos normalizados exitosamente
üìä Forma: (7267, 21)

üîç Columnas disponibles:
  - customerID
  - Churn
  - customer.gender
  - customer.SeniorCitizen
  - customer.Partner
  - customer.Dependents
  - customer.tenure
  - phone.PhoneService
  - phone.MultipleLines
  - internet.InternetService
  - internet.OnlineSecurity
  - internet.OnlineBackup
  - internet.DeviceProtection
  - internet.TechSupport
  - internet.StreamingTV
  - internet.StreamingMovies
  - account.Contract
  - account.PaperlessBilling
  - account.PaymentMethod
  - account.Charges.Monthly
  - account.Charges.Total

üìã Primeras 5 filas:

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

üìä Informaci√≥n del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB
None

## üîé *Explorar las columnas del dataset y verificar sus tipos de datos*

In [4]:
print("="*80)
print("‚úÖ PASO 1: EXPLORACI√ìN DE COLUMNAS Y TIPOS DE DATOS")
print("="*80)

================================================================================
‚úÖ PASO 1: EXPLORACI√ìN DE COLUMNAS Y TIPOS DE DATOS
================================================================================

In [6]:
import numpy as np

# 1.1. Informaci√≥n general del DataFrame
print("\nüìä 1.1. INFORMACI√ìN GENERAL DEL DATAFRAME:")
print(f"‚Ä¢ N√∫mero total de filas: {df_normalized.shape[0]:,}")
print(f"‚Ä¢ N√∫mero total de columnas: {df_normalized.shape[1]}")
print(f"‚Ä¢ Memoria usada: {df_normalized.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# 1.2. Tipos de datos por columna
print("\nüìã 1.2. DISTRIBUCI√ìN DE TIPOS DE DATOS:")
type_counts = df_normalized.dtypes.value_counts()
for dtype, count in type_counts.items():
    print(f"  {dtype}: {count} columnas ({count/df.shape[1]*100:.1f}%)")

# 1.3. Lista detallada de columnas con sus tipos
print("\nüîç 1.3. LISTA COMPLETA DE COLUMNAS CON SUS TIPOS:")
for i, (col, dtype) in enumerate(df.dtypes.items(), 1):
    print(f"{i:3d}. {col:40} ‚Üí {dtype}")

# 1.4. Columnas por categor√≠a
print("\nüè∑Ô∏è 1.4. CLASIFICACI√ìN DE COLUMNAS POR CONTENIDO:")

# Identificar columnas categ√≥ricas
categorical_cols = df_normalized.select_dtypes(include=['object', 'category']).columns.tolist()
print(f"\n‚Ä¢ Columnas categ√≥ricas ({len(categorical_cols)}):")
for i, col in enumerate(categorical_cols[:15], 1):
    print(f"  {i:2d}. {col}")
if len(categorical_cols) > 15:
    print(f"  ... y {len(categorical_cols)-15} m√°s")

# Identificar columnas num√©ricas
numeric_cols = df_normalized.select_dtypes(include=[np.number]).columns.tolist()
print(f"\n‚Ä¢ Columnas num√©ricas ({len(numeric_cols)}):")
for i, col in enumerate(numeric_cols, 1):
    print(f"  {i:2d}. {col}")

# Identificar columnas booleanas (si las hay)
bool_cols = df_normalized.select_dtypes(include=['bool']).columns.tolist()
if bool_cols:
    print(f"\n‚Ä¢ Columnas booleanas ({len(bool_cols)}):")
    for i, col in enumerate(bool_cols, 1):
        print(f"  {i:2d}. {col}")

# 1.5. An√°lisis de valores nulos
print("\n‚ö†Ô∏è 1.5. AN√ÅLISIS DE VALORES NULOS:")
null_sum = df_normalized.isnull().sum()
null_cols = null_sum[null_sum > 0]
if len(null_cols) > 0:
    print("Columnas con valores nulos:")
    for col, null_count in null_cols.items():
        null_percentage = (null_count / df.shape[0]) * 100
        print(f"  ‚Ä¢ {col}: {null_count:,} nulos ({null_percentage:.2f}%)")
else:
    print("  ¬°No hay valores nulos en el dataset!")

# 1.6. Valores √∫nicos en columnas categ√≥ricas importantes
print("\nüéØ 1.6. VALORES √öNICOS EN COLUMNAS CLAVE:")
key_columns = ['Churn', 'customer_gender', 'customer_SeniorCitizen',
               'phone_PhoneService', 'internet_InternetService', 'account_Contract']

for col in key_columns:
    if col in df_normalized.columns:
        unique_vals = df_normalized[col].nunique()
        sample_vals = df_normalized[col].unique()[:5] if unique_vals > 5 else df_normalized[col].unique()
        print(f"\n  {col}:")
        print(f"    ‚Ä¢ Valores √∫nicos: {unique_vals}")
        print(f"    ‚Ä¢ Muestra de valores: {sample_vals}")
        print(f"    ‚Ä¢ Conteo de valores:\n{df_normalized[col].value_counts().head()}")

print("\n" + "="*80)

üìä 1.1. INFORMACI√ìN GENERAL DEL DATAFRAME:
‚Ä¢ N√∫mero total de filas: 7,267
‚Ä¢ N√∫mero total de columnas: 21
‚Ä¢ Memoria usada: 7.04 MB

üìã 1.2. DISTRIBUCI√ìN DE TIPOS DE DATOS:
  object: 18 columnas (300.0%)
  int64: 2 columnas (33.3%)
  float64: 1 columnas (16.7%)

üîç 1.3. LISTA COMPLETA DE COLUMNAS CON SUS TIPOS:
  1. customerID                               ‚Üí object
  2. Churn                                    ‚Üí object
  3. customer                                 ‚Üí object
  4. phone                                    ‚Üí object
  5. internet                                 ‚Üí object
  6. account                                  ‚Üí object

üè∑Ô∏è 1.4. CLASIFICACI√ìN DE COLUMNAS POR CONTENIDO:

‚Ä¢ Columnas categ√≥ricas (18):
   1. customerID
   2. Churn
   3. customer.gender
   4. customer.Partner
   5. customer.Dependents
   6. phone.PhoneService
   7. phone.MultipleLines
   8. internet.InternetService
   9. internet.OnlineSecurity
  10. internet.OnlineBackup
  11. internet.DeviceProtection
  12. internet.TechSupport
  13. internet.StreamingTV
  14. internet.StreamingMovies
  15. account.Contract
  ... y 3 m√°s

‚Ä¢ Columnas num√©ricas (3):
   1. customer.SeniorCitizen
   2. customer.tenure
   3. account.Charges.Monthly

‚ö†Ô∏è 1.5. AN√ÅLISIS DE VALORES NULOS:
  ¬°No hay valores nulos en el dataset!

üéØ 1.6. VALORES √öNICOS EN COLUMNAS CLAVE:

  Churn:
    ‚Ä¢ Valores √∫nicos: 3
    ‚Ä¢ Muestra de valores: ['No' 'Yes' '']
    ‚Ä¢ Conteo de valores:
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

================================================================================

In [7]:
df = df_normalized

In [8]:
# An√°lisis r√°pido de calidad de datos
def quick_data_quality_check(df):
    print("üîç AN√ÅLISIS R√ÅPIDO DE CALIDAD DE DATOS")
    print("="*60)

    results = {}

    # 1. Valores nulos
    null_sum = df.isnull().sum().sum()
    results['null_values'] = null_sum
    print(f"‚úÖ Valores nulos: {null_sum}")

    # 2. Duplicados
    duplicates = df.duplicated().sum()
    results['duplicates'] = duplicates
    print(f"‚úÖ Duplicados completos: {duplicates}")

    # 3. Duplicados en ID
    if 'customerID' in df.columns:
        id_duplicates = df['customerID'].duplicated().sum()
        results['id_duplicates'] = id_duplicates
        print(f"‚úÖ Duplicados en customerID: {id_duplicates}")

    # 4. Tipos de datos incorrectos
    if 'account.Charges.Total' in df.columns:
        if df['account.Charges.Total'].dtype == 'object':
            results['format_errors'] = "Total Charges es object, deber√≠a ser num√©rico"
            print(f"‚ö†Ô∏è  account.Charges.Total: tipo incorrecto (object)")

    # 5. Rangos imposibles
    if 'customer.tenure' in df.columns:
        negative_tenure = (df['customer.tenure'] < 0).sum()
        results['negative_tenure'] = negative_tenure
        if negative_tenure > 0:
            print(f"‚ö†Ô∏è  tenure negativo: {negative_tenure} registros")

    # 6. Valores categ√≥ricos inesperados
    unexpected_counts = {}
    expected_churn = ['Yes', 'No']
    if 'Churn' in df.columns:
        unexpected_churn = set(df['Churn'].unique()) - set(expected_churn)
        if unexpected_churn:
            results['unexpected_churn'] = unexpected_churn
            print(f"‚ö†Ô∏è  Valores inesperados en Churn: {unexpected_churn}")

    print("="*60)
    return results

# Ejecutar an√°lisis r√°pido
quality_report = quick_data_quality_check(df)

üîç AN√ÅLISIS R√ÅPIDO DE CALIDAD DE DATOS
============================================================
‚úÖ Valores nulos: 0
‚úÖ Duplicados completos: 0
‚úÖ Duplicados en customerID: 0
‚ö†Ô∏è  account.Charges.Total: tipo incorrecto (object)
‚ö†Ô∏è  Valores inesperados en Churn: {''}
============================================================

Viene la parte en la que hay que eliminar nombres repetitivos, ver si hay datos vacios dentro del DataFrame y corregir esas inconsistencias

In [9]:
# Prefijos a eliminar
prefijos = ['customer.', 'phone.', 'internet.', 'account.', 'Charges.']

# Listas para el mapeo (emparejamiento)
nombres_actuales = []
nombres_limpios = []

# Iterar sobre las columnas del DataFrame
for col in df.columns:
    es_prefijo = False

    # Verificar si la columna comienza con alguno de los prefijos
    for prefijo in prefijos:
        if col.startswith(prefijo):
            nombres_actuales.append(col)
            # Eliminar el prefijo para obtener el nombre limpio
            nombres_limpios.append(col.replace(prefijo, '', 1))
            es_prefijo = True
            break

    # Si la columna no tiene prefijo (ej: customerID, Churn), se mantiene igual
    if not es_prefijo:
        nombres_actuales.append(col)
        nombres_limpios.append(col)


# Usar zip() para crear el diccionario de mapeo
# Empareja (zip) los nombres actuales con los nombres limpios
mapeo_renombre = dict(zip(nombres_actuales, nombres_limpios))

# Renombrado con .rename()
# Le pasamos el diccionario de mapeo generado por zip
df = df.rename(columns=mapeo_renombre)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [10]:

df.columns.tolist() # Visualizamos los nombres de los encabezados en lista

['customerID',
 'Churn',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'Charges.Monthly',
 'Charges.Total']

In [11]:
# Identificamos si hay valores vacios
columnas_con_vacios = [
    col for col in df.columns
    if df[col].astype(str).str.strip().eq('').any()
]
print("Columnas con vac√≠os:", columnas_con_vacios)

Columnas con vac√≠os: ['Churn', 'Charges.Total']

In [12]:
# Reemplazar '', ' ', '   ' ‚Üí np.nan en TODAS las columnas string
df = df.replace(r'^\s*$', np.nan, regex=True)

In [14]:
df['Charges.Total'] = pd.to_numeric(df['Charges.Total'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7043 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [15]:
# Detectar columnas con valores NaN despu√©s del reemplazo
columnas_nulas = df.columns[df.isnull().any()].tolist()
print("Columnas con nulls:", columnas_nulas)

Columnas con nulls: ['Churn', 'Charges.Total']

In [16]:
for col in columnas_nulas:
    nulos = df[col].isnull().sum()
    porcentaje = df[col].isnull().mean() * 100

    print(f"Columna: {col}")
    print(f" - Cantidad de nulos: {nulos:,}")
    print(f" - Porcentaje: {porcentaje:.4f}%\n")

Columna: Churn
 - Cantidad de nulos: 224
 - Porcentaje: 3.0824%

Columna: Charges.Total
 - Cantidad de nulos: 11
 - Porcentaje: 0.1514%

In [19]:

# Eliminar registros vacios o nulls
df = df.dropna(subset=['Charges.Total', 'Churn'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [20]:
df.nunique()

customerID          7032
Churn                  2
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                72
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
Charges.Monthly     1584
Charges.Total       6530
dtype: int64

In [21]:
columnas_object = df.select_dtypes(include='object').columns.tolist()
print(columnas_object)

['customerID', 'Churn', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

In [22]:
columnas_object = df.select_dtypes(include='object').columns

for col in columnas_object:
    print(f"\n Columna: {col}")
    print(df[col].value_counts())

 Columna: customerID
customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
0004-TLHLJ    1
0011-IGKFF    1
             ..
0018-NYROU    1
0017-IUDMW    1
0017-DINOC    1
0016-QLJIS    1
0015-UOCOJ    1
Name: count, Length: 7032, dtype: int64

 Columna: Churn
Churn
No     5163
Yes    1869
Name: count, dtype: int64

 Columna: gender
gender
Male      3549
Female    3483
Name: count, dtype: int64

 Columna: Partner
Partner
No     3639
Yes    3393
Name: count, dtype: int64

 Columna: Dependents
Dependents
No     4933
Yes    2099
Name: count, dtype: int64

 Columna: PhoneService
PhoneService
Yes    6352
No      680
Name: count, dtype: int64

 Columna: MultipleLines
MultipleLines
No                  3385
Yes                 2967
No phone service     680
Name: count, dtype: int64

 Columna: InternetService
InternetService
Fiber optic    3096
DSL            2416
No             1520
Name: count, dtype: int64

 Columna: OnlineSecurity
OnlineSecurity
No                     3497
Yes                    2015
No internet service    1520
Name: count, dtype: int64

 Columna: OnlineBackup
OnlineBackup
No                     3087
Yes                    2425
No internet service    1520
Name: count, dtype: int64

 Columna: DeviceProtection
DeviceProtection
No                     3094
Yes                    2418
No internet service    1520
Name: count, dtype: int64

 Columna: TechSupport
TechSupport
No                     3472
Yes                    2040
No internet service    1520
Name: count, dtype: int64

 Columna: StreamingTV
StreamingTV
No                     2809
Yes                    2703
No internet service    1520
Name: count, dtype: int64

 Columna: StreamingMovies
StreamingMovies
No                     2781
Yes                    2731
No internet service    1520
Name: count, dtype: int64

 Columna: Contract
Contract
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64

 Columna: PaperlessBilling
PaperlessBilling
Yes    4168
No     2864
Name: count, dtype: int64

 Columna: PaymentMethod
PaymentMethod
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: count, dtype: int64